version: '3.8'

services:
  web:
    build: .
    ports:
      - "80:80"
    environment:
      PGHOST: db
      PGPORT: 5432
      PGDATABASE: studentdb
      PGUSER: studentuser
      PGPASSWORD: password
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: studentdb
      POSTGRES_USER: studentuser
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
